@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
* {
  font-family: "Work Sans", sans-serif;
}
/* shared style  */
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 25px;
  cursor: pointer;
  border: 0;
}
.description{
  color:  #727272;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}

/* header style  */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 2.8rem;
  font-weight: 700;
}
nav > ul {
  display: flex;
  gap: 30px;
}
nav li {
  list-style: none;
  font-weight: 500;
  font-size: 1rem;
}
nav > ul a {
  text-decoration: none;
  color: black;
}
/* .banner styles */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}

.banner img {
  margin-top: 20px;
  width: 100%;
}


/* main styles  */
main{
  max-width: 1440px;
  margin: 0 auto;
}
/* team- container style  */
.team-container{
  display: flex;
  align-items: center;
  gap: 5rem ;
  margin-top: 5rem ;

}

.team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:1.5rem
}
.team-content-title{
  color: #131313 ;
  font-weight: 700;
  font-size: 2.7rem;

}
.span-1{
  color:  #727272;
  font-weight: 500;
}
.span-2{
  color: #FF900E ;
  font-weight: 700;
}
.description{
  color:  #727272;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}
.facts-container{
  margin-top: 130px;
}
.card-container{
  display: flex;
  justify-content: space-around;
}
.facts-card{
  border-radius: 8px;
  border: 1px solid #FF900E;
  text-align: center;
  padding: 30px;
  margin-top: 100px;
  margin-bottom: 180px;
}
.sponspors-container{
  text-align: center;
}
.sponspors-container img{
  padding: 20px;
}
/* footer style  */
footer{
  margin-top: 8.1rem;
  margin-bottom: 13.5rem;
  background: #FFF4E7;
  text-align: center;
}
footer p{
  padding: 2.5rem 25.5rem;
}
.features-container{
  display: flex;
  gap: 150px;
  margin-top: 130px;
}
.feature-img img{
  margin-left: 60px;
}
.features-container h1{
   border-left: 5px solid orangered;
   padding-left: 15px;
}
.card{
  border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
padding: 30px;
}
.ten-year-part{
  color: #FFF;
  background-color: orangered;
  width: 342px;

text-align: center;
padding: 30px;
position: relative;
bottom: 100px;
}
.feature-img h2{

font-size: 4rem;
margin: 0;
font-weight: 700;

}




/* responsive and media query  */
/* mobile device  */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  
  nav , .team-container , .features-container {
    flex-direction: column;
    

  }
  .feature-img img{
    max-width: 576px;
    margin-left: 0;
  }
  
  .card-container{
    flex-direction: column;
    gap: 20px;
  }
  .facts-card{
     margin: 0;
  }
  .team-img-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .team-content{
    padding-left: 20px;
  }
  footer p{
    padding: 2rem;
  }
}
/* tablet or medium device */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav , .team-container {
    flex-direction: column;
    
  }
  .team-content{
    padding-left: 20px;
  }
  footer p{
    padding: 2.5rem 5rem;
  }

}
  

